.editorContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  .editor,
  .preview {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
  }
  .preview {
    border-left: 1px solid #505050;
    background: #fff;
    color: #000;
  }
  .DraftEditor-root {
    height: 100%;
  }
  .empty-content-container {
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
  }
}
