.file-tree-system {
  padding: 5px 0;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  .file-tree-folder>.folder-tree-title:before {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(90deg);
    background: url('../public/images/triangle.png') no-repeat;
    transition: 0.2s transform;
  }
  .file-tree-folder.expanded>.folder-tree-title:before {
    transform: rotate(180deg);
    transition: 0.2s transform;
  }
  .file-tree-folder .file-tree-title,
  .file-tree-file .file-tree-title {
    color: #000;
    font-size: 13px;
    white-space: nowrap;
  }
  .file-tree-folder .file-tree-folder-children.hide {
    display: none;
  }
  .file-tree-file.file-selected {
    .file-tree-title {
      color: #fff;
    }
    background-image: linear-gradient(to bottom, #b2b2b2, #8d8d8d);
  }
  .file-tree-file.file-editable {
    .file-tree-title {
      color: #e0c285;
    }
  }
}
