body {
  position: relative;
  height: 100vh;
  font-size: 16px;
  font-family: Consolas;
  background-color: #272822;
  color: #fff;
}
li {
  list-style: none;
}

a {
  color: lightblue;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root,
#root>div {
  height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: #494949;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
